{% extends 'layout/app.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="offset-4  md-col-4">
            <center>
                {% if messages %}
                {% for message in messages %}
                <div>
                    <strong>{{message|safe}}</strong>
                </div>
                {% endfor %}
                {% else %}

                {% endif %}

                <h1>Only Csv File Accepts</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file3"> Upload a file</label>
                    <input type="file" id="file3" name="file" class="form-control">
                    <br />
                    <button type="submit" class="btn-primary">Upload</button>
                    {#                    <a href="{% url 'branch_list' %}" class="btn-primary">Back To List</a>#}
                </form>
            </center>
        </div>

    </div>
</div>
{% endblock %}